@use "src/styles/abstracts/variables" as *;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
