// Colors
$color-primary: #111;
$color-white: #fff;
$color-black: #000;

// Trust Section Colors
$color-bg-light: #f4f7fa;
$color-primary-blue: #0055a4;
$color-primary-blue-pale: rgba(0, 85, 164, 0.1);
$color-text-dark: #1a1a1b;
$color-text-gray: #4e5968;

// Spacing
$spacing-base: 4px;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
